@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');


.App {
  font-family: 'Zen Dots', cursive;
  /* text-align: center; */
  background-color: #0c0d0e;
  color: white;
}

header{
  background-image: radial-gradient(circle at 107.92% 90.56%, #f00 0, #b83434 25%, #100018 50%, #3c1d61 75%, #0c081f 100%);
  color:#FFFFFF;
  text-align: center;
  align-items: center;
  height: 70px;
  line-height: 70px;
}

footer{
  background-image: radial-gradient(circle at 107.92% 90.56%, #0c081f 0, #3c1d61 25%, #100018 50%, #b83434 75%, #f00 100%);
  color:#FFFFFF;
  text-align: center;
  align-items: center;
  height: 70px;
  line-height: 70px;
}

#logo {
  width: 80px;
  float: left;
}

#logo img{
  margin-left: 30px;
}

header h2{
  margin: 0;
}


.App-header { 
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

